a:link{
  text-decoration: none;
}

.tolandingpg {
  font-size: 18px;
}

.eggpg,
.potatopg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100vh;
}

.eg {
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #fada5e;
  color: #fff;
}

.pota {
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #fff8dc;
  color: #9f8170;
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-inline-start: 0;
  justify-items: center;
  align-content: center;
}

li {
  list-style-type: none;
  border: 2px solid #404040;
  margin-bottom: 40px;
  height: 150px;
  width: 150px;
}

/** ABOUT PAGE **/

.aboutpage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100vh;
}

.about-divide {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}

.about-info {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.egg-icon {
  background-color: #fada5e;
  color: #fff;
}

.potato-icon {
  background-color: #fff8dc;
  color: #9f8170;
}

.backtoabout {
  font-size: 18px;
}

/** ABOUT PAGE **/

/** EGG RECIPE && POTATO RECIPE **/

.eggpage,
.potatopage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 100vh;
}

.eggrecipe {
  background-color: #fada5e;
  color: #404040;
}

.potatorecipe {
  background-color: #fff8dc;
  color: #796254;
}

.recipe-info {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: center;
  align-self: center;
  text-align: center;
}

/** EGG RECIPE && POTATO RECIPE **/
